<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Personal Portolio Webpage</title>
        <meta name="viewport" content="width-device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="main.css"/>
    </head>

    <body>
        <nav id="navbar">
            <a href="#about_me">About Me</a>
            <a href="#projects">Projects</a>
            <a href="#links">Links</a>
        </nav>

        <section id="about_me">
            <img class="me" src="me.jpg" alt="Me In front of a cool tree" width="350" height="275"/>
            <h1 class="introduction">Hi my name is Rishie Kugathasan!</h1>
            <p>I'm a soon-to-be graduate from Carleton University. I'll be receiving my Bachelor of Computer Science Major degree soon. This portfolio highlights my major projects/accomplishments throughout my years of programming.</p>
        </section>

        <section id="projects">
            <p class="project_tile">Maintaining an Excel Sheet database from User Input Project. Code will be linked on top of visuals.</p>
            <a href="https://github.com/rishiekugathasan/ExcelFile">Github Excel Project</a>
        </section>

        <section id="links">
            <div id="LinkedIn_link_div">
                <a href="https://www.linkedin.com/in/rishie-kugathasan-50a25319b/">My LinkedIn Page</a>
            </div>
            <div id="GitHub_link_div">
                <a href="https://github.com/rishiekugathasan">My Github Page</a>
            </div>
        </section>
    </body>
</html> 